.env
.ipynb_checkpoints
**/ny_taxi_postgres_data/
--user=root
*.parquet
services.yml
*.csv
data_pgadmin/

.DS_Store
.idea
*.tfstate
*.tfstate.*
**/.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history

serving_dir
*.csv
.ipynb_checkpoints/

# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
